@model VideGo.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<h4>Genre: @Model.Genre.Name</h4>
<h4>Release Date: @Model.ReleaseDate.ToLongDateString()</h4>
<h4>Date Added: @Model.DateAdded.ToLongDateString()</h4>
<h4>Number in Stock: @Model.NumberInStock</h4>



